<div class="container mb-4">
  <div class="d-flex justify-content-center mt-4">
    <div class="row">
      <div class="col">
        <a href="/eventando/admin/event/0" class="btn btn-primary me-2">
          <i class="bi bi-bookmarks"></i>Eventos
        </a>
        <a href="/eventando/admin/user/0" class="btn btn-primary me-2">
          <i class="bi bi-person"></i>Usuários
        </a>
        <a href="/eventando/admin/review/0" class="btn btn-primary me-2">
          <i class="bi bi-bar-chart-line"></i>Reviews
        </a>
        <a href="/eventando/admin/category/0" class="btn btn-primary">
          <i class="bi bi-tags"></i>Categorias
        </a>
      </div>
    </div>
  </div>
</div>
