<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/eventando/dashboard/index/0">Eventando</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/eventando/dashboard/index/0">
            <i class="bi bi-house"></i>
            Inicio
          </a>
        </li>
        <li class="nav-item">
          {% if loggedInUser["user_type"] == 'organizer' %}
          <a class="nav-link" href="/eventando/event/create" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-plus"></i>
            Criar evento
          </a>
          {% elseif loggedInUser["user_type"] == 'participant' %}
          <a class="nav-link" href="/eventando/user/index/{{ loggedInUser['user_id'] }}">
            <i class="bi bi-bookmark"></i>
            Meus eventos
          </a>
          {% else %}
          <a class="nav-link" href="/eventando/admin">
            <i class="bi bi-nut"></i>
            Painel do admin
          </a>
          {% endif %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
            {{ loggedInUser["name"] }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/eventando/user/index/{{ loggedInUser['user_id'] }}">Meu perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/eventando/user/logout">Sair do perfil</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <form action="/eventando/event/list" method="post" class="input-group" style="width: auto;" role="search">
      <span class="input-group-text">Evento e categoria</span>
      <input name="name" type="text" class="form-control" required>
      <select name="category" class="form-select" aria-label="Default select example">
        <option value="Todas" selected>Todas</option>
        {% for category in categories %}
        <option value="{{ category['name'] }}">{{ category["name"] }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary">Procurar</button>
    </form>
  </div>
</nav>
{{ include("Includes/create_event_modal.html") }}
