{% extends "Templates/base.html" %}
{% block title %}Admin dashboard{% endblock %}
{% block content %}
{{ include("Includes/navbar_admin.html") }}
<div class="container">
  <section>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <th scope="row">{{ event["event_id"] }}</th>
          <td>{{ event["title"] }}</td>
          <td>
            <button id="_event" data-bs-toggle="modal" data-tabela="event" data-valor="{{ event['event_id'] }}"
              data-bs-target="#delete_row_modal" type="button" class="btn btn-danger">
              <i class="bi bi-trash"></i>
              Deletar
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <nav class="d-flex justify-content-center" style="margin: 25px;">
    <ul class="pagination">
      {% if total_num_events >= 1 %}
      {% for i in 0..total_num_events %}
      <li class="page-item {{ i == current_page ? 'active' : '' }} "><a class="page-link"
          href="/eventando/admin/event/{{ i }}">{{ i+1 }}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
