{% extends "Templates/base.html" %}
{% block title %}Página do evento{% endblock %}
{% block css %}
<link rel="stylesheet" href="/eventando/assets/css/event.css">
{% endblock %}
{% block content %}
<div id="event_carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for image in event["images"] %}
    <button type="button" data-bs-target="#event_carousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first
      %}class="active" aria-current="true" {% endif %} aria-label="Slide {{ loop.index }}"></button>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for image in event["images"] %}
    <div class="carousel-item{% if loop.first %} active{% endif %}">
      <div class="overlay-image" style="background-image: url('/eventando/{{ image }}');"></div>
      <div class="container"></div>
      <div class="carousel-caption d-none d-md-block">
        <h2>{{ event['title'] }}</h2>
        <h3>{{ event['description'] }}</h3>
      </div>
    </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#event_carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#event_carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container">
  <div class="row my-4">
    <div class="col m-3">
      <div class="container text-begin">
        <h2>Quer entrar no evento?</h2>
        <button class="btn btn-ln btn-primary mt-3">Entrar por R${{ event["price"] }}</button>
      </div>
      <div class="container text-begin mt-4">
        <h2>Localização do Evento</h2>
        <div class="map-container mt-3">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.727828600468!2d{{ event['longitude'] }}!3d{{ event['latitude'] }}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDM1JzMzLjAiTiA1wrAyNic0Mi4zIkU!5e0!3m2!1sen!2s!4v1626085135077!5m2!1sen!2s"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col m-3">
      <div class="container text-begin">
        <h2>Comentários</h2>
        {% for review in reviews %}
        <hr>
        <div class="d-flex flex-row justify-content-start align-items-center">
          <div class="me-3">
            <a class="fs-5 fw-medium" href="/eventando/user/index/{{ review['user_id'] }}">{{
              review['name']
              }}</a>
          </div>
          <div>
            <div class="star-rating">
              {% if review['score'] > 0 %}
              {% for i in (1..review['score']) %}
              <i class="bi bi-star-fill"></i>
              {% endfor %}
              {% endif %}
              {% if 5 - review['score'] > 0 %}
              {% for i in (1..5 - review['score']) %}
              <i class="bi bi-star"></i>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <p class="mt-2">{{ review["comment"] }}</p>
        {% endfor %}
        {% if total_num_events >= 1 %}
        <nav class="d-flex justify-content-center" style="margin: 25px;">
          <ul class="pagination">
            {% for i in 0..total_num_events %}
            <li class="page-item {{ i == current_page ? 'active' : '' }} "><a class="page-link"
                href="/eventando/event/index/{{ event['event_id'] }}/{{ i }}">{{ i+1 }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% endif %}
        <hr>
        <h3>Adicionar Comentário</h3>
        <form method="post" action="/eventando/review/create/{{ event['event_id'] }}">
          <div class="form-group mb-3">
            <label for="score" class="form-label">Nota de 0 até 5:</label>
            <input type="range" class="form-range" min="0" max="5" name="score" id="score">
            <label for="comment" class="form-label">Seu Comentário:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
