{% extends "Templates/outer.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card">
          <div class="card-header text-center">
            <span class="fs-4 fw-normal">Faça login em sua conta</span>
          </div>
          <div class="card-body">
            {% if error != '' %}
            <div class="alert alert-danger mb-3" role="alert">{{ error["message"] }}</div>
            {% endif %}
            <form action="/eventando/login/check" method="post">
              <div class="mb-3">
                <label for="email" class="form-label">Endereço de email</label>
                <input type="email" name="email" id="email" class="form-control py-2" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" name="password" id="password" class="form-control py-2" required>
              </div>
              <div class="text-center d-flex align-items-center justify-content-center flex-column">
                <button class="btn btn-primary">Entrar</button>
                <a href="/eventando/register" class="mt-3">Não possui uma conta?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
