{% extends "Templates/outer.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<section>
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 m-auto">
        <div class="card">
          <div class="card-header text-center">
            <span class="fs-4 fw-normal">Faça o registro de sua conta</span>
          </div>
          <div class="card-body">
            {% if error != '' %}
            <div class="alert alert-danger mb-3" role="alert">{{ error["message"] }}</div>
            {% endif %}
            <form action="/eventando/register/create" method="post">
              <div class="mb-3">
                <label for="name" class="form-label">Nome do usuário</label>
                <input type="text" name="name" id="name" class="form-control py-2" required>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="email" class="form-label">Endereço de email</label>
                    <input type="email" name="email" id="email" class="form-control py-2" required>
                  </div>
                  <div class="col">
                    <label for="userType" class="form-label">Tipo de usuário</label>
                    <select class="form-select" name="userType" id="userType">
                      <option value="organizer">Organizador</option>
                      <option value="participant">Participante</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row">
                  <div class="col">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" name="password" id="password" class="form-control py-2" required>
                  </div>
                  <div class="col">
                    <label for="confirmarSenha" class="form-label">Confirmar sua senha</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control py-2"
                      required>
                  </div>
                </div>
              </div>
              <div class="text-center d-flex align-items-center justify-content-center flex-column">
                <button class="btn btn-primary">Registrar</button>
                <a href="/eventando/login" class="mt-3">Possui uma conta?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
